:root {
  --primary:#2196f3;
  --secondary:#42a5f5;
  --tertiary:#e3f2fd;
  --header-color:#64b5f6;
  --primary-text-color:#fff;
}

.navbar-color{
    background-color: var(--primary);
}

.navbar-color a{
    color: var(--light) !important;
}

.profile{
    cursor: pointer;
    margin-right: 4px;
    height: 45px;
    border-color: var(--primary);
}
.btn-color{
    color:var(--secondary) !important;
}

.custom-bg{
    background-color:var(--secondary) !important;
    color: #fff;
}

.custom-bg-primary{
    background-color:var(--primary) !important;
    color: #fff;
}


.dropdown-custom{
    border: none;
}

.form-control:focus {
  border-color: var(--primary);
  -webkit-box-shadow: none;
  box-shadow: none;
}


.dashboard-list div :hover{
    background-color:var(--tertiary) !important;
     cursor: pointer;
}
.bg-card-hover:hover{
     background-color:var(--tertiary) !important;
     cursor: pointer;
}


.text-login{
    color: var(--secondary);
}

.btn-submit{
    background-color: var(--primary);
    color: var(--primary-text-color) !important;
}


.alertMessage{
    background-color: red;
}

.thumbnail{
    width: 50%;
}
